@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); /*-- Importing Inter font from Google Fonts --*/
h1 {
    text-align: center; /*-- Centering the text --*/
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
h2{
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
h3{
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
h4{
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
h5{
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
h6{
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
a {
    font-family: 'Inter'; /*-- Applying Inter font --*/
}
p {
    font-family: 'Inter'; /*-- Applying Inter font --*/
    font-size: 24px; /*-- Setting font size to 24px --*/
}
a {
    text-decoration: none; /*-- Removing underline from links --*/
    color: black; /*-- Setting link color to black --*/
  }
body {
    background-color: lightcyan; /*-- Setting background color to light cyan --*/
}
.right-link {
    display: flex; /*-- Using flexbox for layout --*/
    justify-content: flex-end; /*-- efines items to align on main axis --*/
    gap: 15px; /*-- Adding space between items 15px--*/
    }
button {
  padding: 17px 40px; /*-- Adding padding to button x: 17px y: 40px--*/
  border-radius: 10px; /*-- Rounding corners of button --*/
  border: 0; /*-- Removing border --*/
  background-color: rgb(255, 56, 86); /*-- Setting background color to red --*/
  letter-spacing: 1.5px; /*-- Adding letter spacing --*/
  font-size: 15px; /*-- Setting font size to 15px --*/
  transition: all 0.3s ease; /*-- Adding transition effect --*/
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px; /* adds button shadow*/
  color: hsl(0, 0%, 100%); /* makes the color white*/
  cursor: pointer; /*changes cursor to a pointer*/
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px; /* position the box shadow*/
}

button:active {
  background-color: rgb(255, 56, 86); /*color red*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px; /*shadow color*/
  transform: translateY(5px); /*moves it on y axis 5px*/
  transition: 200ms; /* 0.2 seconds*/
}
.center {
    margin: auto; /*makes the margin auto*/
    width: 50%; /* makes the width %50*/
}
h2.solid {
    border-style: solid; /* border style is solid*/
    border-width: 5px; /* width set to 5px*/
    margin-right: 850px; /* margin on the right is set to 850px*/
    padding: 10px; /* padding is 10px*/
    background-color: lightblue; /*background color is set to light blue*/
    border-color: black; /* border color is set to black*/
    color: black; /* color is set to black*/
}